<!DOCTYPE html>
<html>
<head>
<title>Sign Up</title>
</head>
<body align="center">
    <form action="/signup" method="POST">
        Username: <input type="text" name="username" required>
        <br>
        Password: <input type="password" name="password" required>
        <br>
        Public Key: <input type="file" name="pubkey" accept=".pem" required>
        <input type="Submit" value="Sign Up">
    </form>
    <i>Your public key will be saved within our database.</i>
    <br>
    <b>To generate your private keys please use the below code in your Terminal</b><br>
    	<i>openssl genrsa -out userkey.pem 1024</i>
    	<br><br>
    	<b>To generate your public keys please use the below code in your Terminal</b><br>
    	<i>openssl rsa -in userkey.pem -pubout -out userkey.pem</i>
    	<br><br>
</body>
</html>